@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');
*,
*::before
*::after {
    box-sizing: border-box;
}
:root {
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary:'Lato', sans-serif;
    --fw-reg: 200;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: rgb(0,0,0);
    --clr-accent:#fff;  

    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}
@media (min-width: 800px) {
    :root{

        --fs-h1: 4.5rem;
        --fs-h2: 2.5rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body{
    background: var(--clr-dark);
    margin: 0;
    padding: 2em;
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    line-height: 1.6;
    overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
}
.container{
    scroll-snap-type: y mandatory;
    overflow-y:scroll;
    height: 100vh;
}
.container::-webkit-scrollbar-track{
    background-color: black;
    border: 4px solid white;
    background-clip: content-box;
}
.container::-webkit-scrollbar{
    width: 15px;
    background-color: black;
}
.container::-webkit-scrollbar-thumb{
    background-color: white;
    border: 1px solid white;
}
section{
    height: 100vh;
    padding: 0.5em;
    scroll-snap-align: start;
}
strong{
    font-weight: var(--fw-bold);
}
.breaker{
    border-bottom: 5px solid #fff;
    display: block;
    transform: translate(0px, -20px);
}
.line{
    position: relative;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 6.87em;
    border-right: 2px solid #fff;
    font-size: 300%;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);

}

.KK{
    animation: anime 2s steps(40) 1s 1 normal both,
    Cursor 500ms steps(40) infinite normal;
}

@keyframes anime{
    from{width: 0;}
    to{width:6.87em;}
}

@keyframes Cursor{
    from{border-right-color: #fff;}
    to{border-right-color: transparent;}
}
h1,
h2,
h3 {
    line-height: 1.1;
    margin:0;
}
h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

.section__title--intro{
    font-weight: var(--fw-reg);
    color: #fff;
}
.section__title--intro strong{
    display: block;
}
.sub{
    color:#fff
}

.Project{
    margin-top: 3rem;
}

.proj{
    color: #fff;
    font-size: 2rem;
}
.ab{
    color: #fff;
}
ion-icon {
    font-size: 90px;
  }
.socials{
    color: #fff;
    transition: color 0.2s;
    text-decoration: none;
}
.twit:hover {
    color: #30D5C8; 
} 
.lin:hover{
    color:#0072b1
}
.got:hover{
    color: #FF1493
}
.resume:hover{
    color:#4B0082
}
.swagger{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}
.about{
    font-size: 6vh;
    color: #fff;
    margin-top: 3rem;
}
.smol{
    width: 10%;
}

@media screen and (max-width: 480px) {
    .about{
        font-size: 3vh;
    }
  }