@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');
*,
*::before
*::after {
    box-sizing: border-box;
}
:root {
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary:'Lato', sans-serif;
    --fw-reg: 200;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: rgb(0,0,0);
    --clr-accent:#fff;  

    --fs-h1: 2rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}
@media (min-width: 800px) {
    :root{

        --fs-h1: 3rem;
        --fs-h2: 2.5rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html{
    scroll-snap-type: y mandatory;
}

body{
    background: var(--clr-dark);
    margin: 0;
    padding: 2.5em;
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    line-height: 1.6;
    
}
img {
    display: block;
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: var(--clr-dark);
    padding: 1rem;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    scroll-snap-align: start;
}
strong{
    font-weight: var(--fw-bold);
}
.breaker{
    width: 20rem;
    border-bottom: 4px solid #fff;
    display: block;
}
.line{
    position: relative;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 6.87em;
    border-right: 2px solid #fff;
    font-size: 250%;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;

}


.KK{
    animation: anime 2s steps(40) 1s 1 normal both,
    Cursor 500ms steps(40) infinite normal;
}

@keyframes anime{
    from{width: 0;}
    to{width:7.25em;}
}

@keyframes Cursor{
    from{border-right-color: #fff;}
    to{border-right-color: transparent;}
}
h1,
h2,
h3 {
    line-height: 1.1;
    margin:0;
}
h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

.section__title--intro{
    font-weight: var(--fw-reg);
    color: #fff;
}
.section__title--intro strong{
    display: block;
}
.sub{
    color:#fff
}

.Project{
    margin-top: 3rem;
}

.Projects{
    padding-top: 3rem;
}

.proj{
    color: #fff;
    font-size: 2rem;
}



.ab{
    color: #fff;
}
ion-icon {
    font-size: 90px;
  }
.socials{
    color: #fff;
    transition: color 0.2s;
    text-decoration: none;
}
.twit:hover {
    color: #30D5C8; 
} 
.lin:hover{
    color:#0072b1
}
.got:hover{
    color: #FF1493
}
.resume:hover{
    color:#4B0082
}
.swagger{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}


.about{
    font-size: xx-large;
    color: #fff;
    margin-top: 3rem;
}
.smol{
    width: 10%;
}

@media screen and (max-width: 480px) {
    nav{
        padding: 0.2rem;
    }
    .about{
        font-size: x-large;
    }
    
  }